@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

.x-font-noto-serif-display-100 {
  font-family: 'Noto Serif Display', serif;
  font-weight: 100;
  font-style: normal;
}

.x-font-noto-serif-display-200 {
  font-family: 'Noto Serif Display', serif;
  font-weight: 200;
  font-style: normal;
}

.x-font-noto-serif-display-300 {
  font-family: 'Noto Serif Display', serif;
  font-weight: 300;
  font-style: normal;
}

.x-font-noto-serif-display-400 {
  font-family: 'Noto Serif Display', serif;
  font-weight: 400;
  font-style: normal;
}

.x-font-noto-serif-display-500 {
  font-family: 'Noto Serif Display', serif;
  font-weight: 500;
  font-style: normal;
}

.x-font-noto-serif-display-600 {
  font-family: 'Noto Serif Display', serif;
  font-weight: 600;
  font-style: normal;
}

.x-font-noto-serif-display-700 {
  font-family: 'Noto Serif Display', serif;
  font-weight: 700;
  font-style: normal;
}

.x-font-noto-serif-display-800 {
  font-family: 'Noto Serif Display', serif;
  font-weight: 800;
  font-style: normal;
}

.x-font-noto-serif-display-900 {
  font-family: 'Noto Serif Display', serif;
  font-weight: 900;
  font-style: normal;
}

.x-font-noto-serif-display-100-italic {
  font-family: 'Noto Serif Display', serif;
  font-weight: 100;
  font-style: italic;
}

.x-font-noto-serif-display-200-italic {
  font-family: 'Noto Serif Display', serif;
  font-weight: 200;
  font-style: italic;
}

.x-font-noto-serif-display-300-italic {
  font-family: 'Noto Serif Display', serif;
  font-weight: 300;
  font-style: italic;
}

.x-font-noto-serif-display-400-italic {
  font-family: 'Noto Serif Display', serif;
  font-weight: 400;
  font-style: italic;
}

.x-font-noto-serif-display-500-italic {
  font-family: 'Noto Serif Display', serif;
  font-weight: 500;
  font-style: italic;
}

.x-font-noto-serif-display-600-italic {
  font-family: 'Noto Serif Display', serif;
  font-weight: 600;
  font-style: italic;
}

.x-font-noto-serif-display-700-italic {
  font-family: 'Noto Serif Display', serif;
  font-weight: 700;
  font-style: italic;
}

.x-font-noto-serif-display-800-italic {
  font-family: 'Noto Serif Display', serif;
  font-weight: 800;
  font-style: italic;
}

.x-font-noto-serif-display-900-italic {
  font-family: 'Noto Serif Display', serif;
  font-weight: 900;
  font-style: italic;
}
